.body{
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: 300vh;
    color: #fff;
   background: linear-gradient(45deg,rgb(0, 68, 255) ,rgb(0, 68, 255),rgb(255, 0, 0),green,rgb(255, 251, 7),rgb(255, 251, 7));
   background-size: 400% 400%;
   position: relative;
   animation: cambiar 5s ease-in-out infinite;
  counter-reset: score;
}
@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
.nav{
    background-color: rgb(192, 189, 189);
    width: 100%;
    height: 80px;
   display: flex;
   grid-template-columns: 1fr;
   justify-content: space-between;
   
}
.marca{
    margin-left: 20px;
}
.a1{
   width: 70px;
   height: 70px;
   right: 100px;
   margin-right: 20px;
}
.a2{
   width: 60px;
   height: 60px;
 margin-bottom: 8px;
 margin-right: 20px;
}
.a3{
   width: 50px;
   height: 50px;
   margin-bottom: 10px;
   margin-right: 30px;
}

   .main{
       margin: 0;
       padding: 0;
     
       
   }
   .main h1{
       display: grid;
       grid-template-columns: 1fr;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   
  .contenedor{
      grid-template-columns: 1fr 1fr;
   display: grid;
   place-items: center;
   
  }
  .subtitulo-interno img{
      width: 140px;
      margin-left: 23px;
      margin-top: 10px;
  }
  .subtitulo{
      background-color: greenyellow;
      border-radius: 50px;
     margin-left: 45px;
     margin-bottom: 30px;
     width: 500px;
     height: 400px;
  }
  .subtitulo-interno{
     display: flex;
      margin-bottom: 30px;
  }
  .subtitulo-interno p{
      font-size: 30px;
      color: black;
      margin-top: 30px;
  }
  .p1{
    color: black;
    margin-top: 20px;
  }
  .subtitulo-interno1{
    font-size: 30px;
    display: flex;
      margin-bottom: 0px;
  }
  .subtitulo-interno1 img{
    width: 120px;
      margin-left: 23px;
      margin-top: 10px;
  }
  .span{
    color: black;
      font-size: 20px;
  }
  .formulario{
     width: 380px;
     height: 30px;
     font-size: 18px;
     border-radius: 1px solid rgb(255, 1, 1); 
     border-radius: 10px;
  }

  
  .form{
      margin-left: 50px;
  }
  .form input{
      border: 1px solid rgb(2, 2, 2);
      margin-bottom: 6px;
    
  }
  .input-res{
      margin-left: 100px;
      margin-top: 10px;
      width: 200px;
      height: 40px;
      text-align: center;
      border-radius:20px;
    
  }
 
  .boton{
      width: 100px;
      height: 50px;
      cursor: pointer;
      border-radius: 20px;
      border: 3px solid rgb(253, 11, 11);
      background-color: rgb(255, 255, 255);
      color: rgb(253, 11, 11);
     
  }
  .boton:hover{
      background-color: rgba(0, 255, 21, 0.993);
  } 
  .boton1{
      display: grid;
      place-items: center;
      margin-top: 30px;
      margin-right: 50px;
      
  }
  .boton2{
      display: grid;
      margin-top: 5px;
      margin-left: 150px;
  }
  .subtitulo2 {
      background-color: gold;
      border-radius: 50px;
     margin-left: 30px;
     margin-bottom: 30px;
     width: 500px;
     height: 400px;
     margin-right: 100px;
  }
  .subtitulo3 {
      background-color: rgb(255, 38, 0);
      border-radius: 50px;
     margin-left: 30px;
     margin-bottom: 30px;
     width: 500px;
     height: 400px;
  }
  .subtitulo4 {
      background-color: rgb(0, 68, 255);
      border-radius: 50px;
     margin-left: -100px;
     margin-bottom: 30px;
     width: 500px;
     height: 400px;
  }
  .subtitulo5 {
      background-color: rgb(228, 30, 185);
      border-radius: 50px;
     margin-left: 30px;
     margin-bottom: 30px;
     width: 500px;
     height: 400px;
  }

  .subtitulo6 {
      background-color: rgb(0, 225, 255);
      border-radius: 50px;
     margin-left: -100px;
     margin-bottom: 30px;
     width: 500px;
     height: 400px;
  }

  .subtitulo7 {
      background-color: rgb(204, 240, 0);
      border-radius: 50px;
     margin-left: 30px;
     margin-bottom: 30px;
     width: 500px;
     height: 400px;
  }
  .subtitulo8 {
      background-color: rgb(255, 251, 11);
      border-radius: 50px;
     margin-left: -100px;
     margin-bottom: 30px;
     width: 500px;
     height: 400px;
  }
  .subtitulo9 {
      background-color: rgb(162, 0, 255);
      border-radius: 50px;
     margin-left: 0px;
     margin-bottom: 30px;
     width: 500px;
     height: 400px;
     
  }
  .porcentage1{
    margin-bottom: 50px;
  }
  .container-descuento{
      display: grid;
    place-items: center;
  }
@media(max-width: 600px){
    .body{
        background: linear-gradient(45deg,rgb(0, 76, 255) ,rgb(219, 219, 10),rgb(255, 0, 0),green,rgb(255, 251, 7),rgb(255, 251, 7));
        background-size: 400% 500%;
        position: relative;
        animation: cambiar 5s ease-in-out infinite;
    }
    .a1{
   width: 30px;
   height: 30px;
   margin-right: 0px;
}
.a2{
   width: 30px;
   height: 30px;
   margin-bottom: 0;
 margin-left: 5px;
 margin-right: 5px;
}
.a3{
   width: 20px;
   height: 20px;
   margin-bottom: 5px;
   margin-right: 10px;
   margin-top: 10px;
   
}
.nav{ 
    width: 100%;
    height: 50px;   
}
.main h1{
    font-size: 20px;
    margin-top: 50px;
}
.contenedor{

display: grid;
  grid-template-columns: 1fr;
    gap: 24px;
    place-content: center;
}
.subtitulo-interno img{
    width: 80px;
    margin-left: 23px;
    margin-top: 10px;
}
.subtitulo-interno1 img{
    width: 80px;
    margin-left: 23px;
    margin-top: 10px;
}
.subtitulo-interno p{
    font-size: 20px;
}
.p1{
    font-size: 20px;
}
.formulario{
width: 200px;
height: 20px;
font-size: 15px;
}
.boton1{
    margin-top: 10px;
}
.boton2{
    margin-left: 0;
    display: grid;
    place-items: center;
    width: 200px;
}
.boton{
    width: 80px;
    height: 40px;
    margin-top: 0;
    font-size: 10px;
}
.input-res{
    width: 150px;
    height: 20px;
    margin-left: 20px;
    margin-top: 50px;
}
.span{
    font-size: 15px;
}
.subtitulo{
    background-color: greenyellow;
    border-radius: 30px;
    margin-left: 0px;
   margin-bottom: 30px;
   width: 300px;
   height: 350px; 
}
.subtitulo2{
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 0;
   margin-bottom: 30px;
   width: 300px;
   height: 350px; 
}
.subtitulo3{
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 0;
   margin-bottom: 30px;
   width: 300px;
   height: 350px; 
}
.subtitulo4{
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 0;
   margin-bottom: 30px;
   width: 300px;
   height: 350px; 
}
.subtitulo5{
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 0;
   margin-bottom: 30px;
   width: 300px;
   height: 350px; 
}
.subtitulo6{
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 0;
   margin-bottom: 30px;
   width: 300px;
   height: 350px; 
}
.subtitulo7{
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 0;
   margin-bottom: 30px;
   width: 300px;
   height: 350px; 
}
.subtitulo8{
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 0;
   margin-bottom: 30px;
   width: 300px;
   height: 350px; 
}
.subtitulo9{
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 0;
   margin-bottom: 30px;
   width: 300px;
   height: 350px; 
}
.porcentage1 h1{
    margin-bottom: 0;
}


}

.text-juego h1{
    color: rgb(255, 250, 250);
    margin-top: 100px;
    margin-bottom: 30px;
    border-top: 1px solid;
}
.text-juego p{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
}



 
* {
    margin: 0;
    padding: 0;
  }
 
  .phone {
    position: relative;
    height: 600px;
    width: 300px;
    background-color: #d4ebf4;
    border: 8px solid black;
    border-radius: 40px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.5);
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .layer-1 {
    position: absolute;
    height: 520px;
    width: 80px;
    bottom: 0;
    right: 60px;
  }
  .layer-2 {
    position: absolute;
    height: 520px;
    width: 80px;
    bottom: 0;
    left: 60px;
  }
  .layer-3 {
    position: absolute;
    z-index: 3;
    width: 280px;
    height: 460px;
    background: #bb6d50;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    box-shadow: 7px 8px 20px 0 #868686;
    overflow: hidden;
  }
  .layer-4 {
    position: absolute;
    z-index: 4;
    width: 80px;
    height: 380px;
    bottom: 0;
    left: 60px;
  }
  .layer-5 {
    position: absolute;
    z-index: 5;
    width: 210px;
    height: 320px;
    background: #bb6d50;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 7px 8px 20px 0 #000000af;
    overflow: hidden;
  }
  .layer-6 {
    position: absolute;
    z-index: 6;
    width: 80px;
    height: 250px;
    bottom: 0;
    right: 50px;
  }
  .layer-7 {
    position: absolute;
    z-index: 7;
    width: 180px;
    height: 190px;
    background: #bb6d50;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    box-shadow: 7px 8px 20px 0 #000000af;
    overflow: hidden;
  }
  .layer-8 {
    position: absolute;
    z-index: 8;
    width: 240px;
    height: 130px;
    background: #66a167;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50px;
  }
  .grass {
    width: 120px;
    height: 120px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: -40px;
  }
  
  .grass::after {
    content: "";
    width: 90px;
    height: 90px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 30px;
  }
  
  .grass::before {
    content: "";
    width: 90px;
    height: 90px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: -70px;
    top: 30px;
  }
  .layer-9 {
    position: absolute;
    z-index: 9;
    width: 180px;
    height: 80px;
    border-radius: 50px;
    background: white;
    bottom: 0;
    left: -50px;
  }
  .layer-10 {
    position: absolute;
    z-index: 10;
    width: 180px;
    height: 80px;
    border-radius: 50px;
    background: white;
    bottom: 0;
    right: -50px;
  }
  
  .layer-9::before,
  .layer-10::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    top: -40px;
    left: 50px;
  }
  .layer-3::after,
  .layer-5::after,
  .layer-7::after {
    content: "";
    position: absolute; 
    left: -0px;
    top: 0px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #6aa067 25%, transparent 25%) -50px 0,
      linear-gradient(-135deg, #6aa067 25%, transparent 25%) -50px 0,
      linear-gradient(45deg, #6aa067 25%, transparent 25%),
      linear-gradient(-45deg, #6aa067 25%, transparent 25%);
    background-size: 40px 100px;
    background-position: 140px 0 0 30px 0;
  }
  
  .layer-3::before,
  .layer-5::before,
  .layer-7::before {
    content: "";
    position: absolute; 
    left: -0px;
    top: 15px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #a6543d 25%, transparent 25%) -50px 0,
      linear-gradient(-135deg, #a6543d 25%, transparent 25%) -50px 0,
      linear-gradient(45deg, #a6543d 25%, transparent 25%),
      linear-gradient(-45deg, #a6543d 25%, transparent 25%);
    background-size: 40px 100px;
    background-position: 140px 0 0 30px 0;
  }
  /* counter */
  .title {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 20px;
    width: 100px;
    font-size: 20px;
    text-align:center;
  }
  input:checked {
    counter-increment: score;
  }
  .score::after {
    content: counter(score);
  }
  input[type=checkbox] {
    appearance: none;
    cursor: pointer;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 2;
  }
 
  /* Animation */ 
  .layer-1,
  .layer-4{
    animation: upDown1 0.7s infinite ease-in-out;
  }
  .layer-2,
  .layer-6 {
    animation: upDown2 0.7s infinite;
  }
  @keyframes upDown1 {
    0% { transform: translateY(0); }
    50% { transform: translateY(70px); }
    100% { transform: translateY(0); }
  }
  @keyframes upDown2 {
    0% { transform: translateY(70px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(70px); }
  }
  /* Bunny */ 
  .ear_left {
    position: absolute;
    background-color: white;
    border-radius: 90%;
    width: 25px;
    height: 60px;
    left: 5px;
  }
  
  .ear_left::before {
    content: "";
    position: absolute;
    background-color: #f9c7d1;
    width: 15px;
    height: 50px;
    left: 5px;
    top: 4px;
    border-radius: 90%;
  
  }
  
  .ear_right {
    position: absolute;
    background-color: white;
    border-radius: 90%;
    width: 25px;
    height: 60px;
    right: 5px;
  }
  
  .ear_right::before {
    content: "";
    position: absolute;
    background-color: #f9c7d1;
    width: 15px;
    height: 50px;
    left: 5px;
    top: 4px;
    border-radius: 90%;
  
  }
  
  .head {
    position: absolute;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 30px;
  }
  
  .head::before {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    left: 25px;
    top: 20px;
  }
  
  .head::after {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    right: 25px;
    top: 20px;
  }
  .score{
      color:black;
  }